

html{
   
    height:100vh;
    
    

}


body{
    background-color:transparent; 
    min-height:inherit;
}

#logo{

    
    height:75vh;
    position:center;

}

#first {
    position: relative;
    margin-bottom: 5px;
    margin-top: 5px;
}

#last {
    position: relative;
    margin-bottom: 5px;
    margin-top: 5px;
}

#email {
    position: relative;
    margin-bottom: 5px;
    margin-top: 5px;
}

#ask{

    font-family:'Old English Text MT';
    font-size-adjust:1;
    color:#000000;
    font-size:xx-large;
    text-align:center;


}

#notify {
    font-family:'Old English Text MT';
    font-size-adjust: 1;
    color: #000000;
    font-size: large;
    text-align: center;
}

#register-btn{

    position:relative;
    margin-top:5px;
    

}
svg{
    display:block;
    margin:auto;
    


}
#buttonholder{

   text-align:center;

}
img {
    height:25%;
    width:35%;
}
.error{

    display:block;
    text-align:center;
    margin:25%;
    margin-top:0;

}

#successdiv{
    text-align:center;

}

