


* {
    box-sizing: border-box;
}

html{
   
    height:100vh;
    
    

}

body{
    background-color:transparent; 
    min-height:inherit;
}

#logo{

    
    height:55vh;
    position:center;

}

#password, #email, #confirmpassword {

    width:100%;

}

#form-title{

    text-align:center;

}

#form-holder{

    width:auto;

}

#ask{

    font-family:'Old English Text MT';
    color:#000000;
    font-size:xx-large;
    text-align:center;


}

#notify {
    font-family:'Old English Text MT';
    color: #000000;
    font-size: large;
    text-align: center;
}

#register-btn{
font-family:'Old English Text MT';
    font-size:x-large;
    position:relative;
    margin-top:5px;
    

}
svg{
    display:block;
    margin:auto;
    


}
#buttonholder{
    
   text-align:center;

}
img {
    height:25%;
    width:35%;
}




li{
    display:inline;
    font-family:'Old English Text MT';
    font-size:large;
}

#login{

    

}
