@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}


<div id="ask"><h2>Want to join us when we're up and running?</h2> </div>



<div class="container-fluid" id="form-holder">
    <form class="jumbotron jumbotron-fluid" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
        <div id="notify"><h4>Sign-Up below and we'll shoot you and email when we're up!</h4> </div>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group form-group-lg" id="email">

            <input asp-for="Email" class="form-control" placeholder="Email Address" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group form-group-lg" id="password">

            <input asp-for="Password" class="form-control" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group form-group-lg" id="confirmpassword">

            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div id="buttonholder"><button type="submit" class="btn btn-default" id="register-btn">Register</button></div>
    </form>
</div>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
