@model RegisterViewModel
@{
    ViewData["Title"] = "index";
}

<div id="ask"><h2>Want to join us when we're up and running?</h2> </div>
<div id="notify"><h4>Sign-Up below and we'll shoot you and email when we're up!</h4> </div>

<div class="jumbotron">
    <form asp-controller="Account" asp-action="Register" method="post">
        <input asp-for="Email" class="form-control" placeholder="Email Address" /> <span asp-validation-for="Email"></span>
        <br />
        <input asp-for="Password" class="form-control" placeholder="Password" /><span asp-validation-for="Password"></span>
        <br />
        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" /><span asp-validation-for="ConfirmPassword"></span>
        <br />
        <div id="buttonholder"> <input type="submit" name="Register" value="Register" id="register-btn" /></div>


    </form>
</div>

