@model JOIN.Models.Registration;
@{

}

<div id="ask">Want to join us when we're ready?</div>

<div id="emailform">
    @using (Html.BeginForm("Index", "Registrations", FormMethod.Post))
    {
        @Html.TextBoxFor(m => m.ValidEmail, new { placeholder = "Enter e-mail address here!", name = "ValidEmail", @class = "form-control" })
        <div id="buttonholder"><input type="submit" value="Register" id="register-btn" /></div>
        <span asp-validation-for="ValidEmail"></span>
    }
</div>

<div id="notify">Sign up and we'll let you know!</div>


