@using Microsoft.AspNetCore.Identity
@using JOIN.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul>
        <li>You are:<a asp-action="Index" asp-controller="Manage">@UserManager.GetUserName(User)</a></li>
        <li><form asp-action="Logout" asp-controller="Account"><button type="submit">Logout</button></form></li>

    </ul>
}
else
{
    <ul>
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}




